body {
   
}

.btn {
    margin-top: 2rem;
    color: darkorange;
    border-color: darkorange;
    transition: background-color 1s;
    margin-top:0rem;
}

.btn:hover {
    background-color: darkorange;
    border-color: darkorange;
    color: white;
}

/*.btn:focus,
.btn:active {
    background-color: darkorange;
    color: white;
    transition: none;
}*/

.card {
    margin-top: 3.5rem;
    transition: transform .7s ease;
}

.card:hover {
    transform: scale(1.08);
}

.card img {
    height: 14rem;
}

.cardLink {
    color:darkorange;
}

.cardLink:hover {
    color: orangered;
}

footer {
    height: 6rem;
}


.linkText {
    color: darkorange !important;
}

.linkText:hover {
    color: orangered !important;
}