body {
   
}
.greeting{
   text-align: center;
}

.btn {
    margin-top: 2rem;
    color: darkorange;
    border-color: darkorange;
    
}

.btn:hover {
    background-color: darkorange;
    border-color: darkorange;
    color: white;
}

/*.btn:focus,
.btn:active {
    background-color: darkorange;
    color: white;
    transition: none;
}*/

