a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.linkText {
    color: darkorange !important;
    margin-top:0;
}

.linkText.bg {
    background: #ff7900 !important;
    color: #FFFFFF !important;
}

.linkText:hover {
    background: #c95e00 !important;
    color: #FFFFFF !important;
}

    .linkText.logo:hover {
        background: none;
    }

    .logo {
        width: 2rem;
    }